ControlDinamico/Controladores_variados(EJ2)/pruebas_control_P2.asv
Latex/0main.aux
Latex/0main.fdb_latexmk
Latex/0main.fls
Latex/0main.log
Latex/0main.out
Latex/0main.toc
Latex/0main.synctex.gz
ControlDinamico/Pure_Pursuit/prueba_persecucionPURA.asv
ControlDinamico/Pure_Pursuit/sl_robot_sincrono_persecucion_pura.slx.autosave
ControlDinamico/Pure_Pursuit/control_persecucion.asv
